@model IEnumerable<COMP003B.FinalAssignment.Models.Seasonal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipes)
            </th>
            <th>
                @Html.DisplayName("Season")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Recipes.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creators.Season)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SeasonalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SeasonalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SeasonalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
